In [1]:
import pandas as pd
import numpy as np

In [20]:
#import metadegs
degs = pd.read_csv('/home/mar/Documents/TFM/GitHub/multiAffinity/additional_out/metaDEGs/metaDEGs/metaDEGs.txt',sep=',')
degs = degs.rename(columns={'Name': 'metaDEGs', 'Score': 'RRA Score'})
degs['metaDEGs'] = degs['metaDEGs'].astype('str')
degs

         metaDEGs     RRA Score
0           REG3A  8.376199e-07
1         SLITRK3  2.465178e-05
2       FGF14-IT1  8.285739e-05
3             SST  1.047025e-04
4            LHX1  1.580247e-04
..            ...           ...
423  LOC102724788  4.915155e-02
424        ADAM23  4.934075e-02
425       SLC22A1  4.942339e-02
426        CACNG4  4.962830e-02
427       GLYATL1  4.966024e-02

[428 rows x 2 columns]

In [21]:
#import affinity correlation
affinity = pd.read_csv('/home/mar/Documents/TFM/GitHub/multiAffinity/additional_out/MultiAffinity/Affinity_Corr.txt',sep=',')
affinity = affinity.rename(columns={'Genes': 'metaDEGs', 'Corr': 'Affinity Corr'})
affinity['metaDEGs'] = affinity['metaDEGs'].astype('str')
affinity

     metaDEGs  Affinity Corr     Adj. p-val
0       PON1        0.381135   0.000000e+00
1      STRA6        0.313187  2.961376e-266
2      THRSP        0.372766   0.000000e+00
3      CNDP1        0.258363  7.215453e-179
4      KCNN2        0.279638  1.894703e-210
..        ...            ...            ...
158      HRG        0.269723  2.265169e-195
159    TRPM8        0.362084   0.000000e+00
160    HOXD1        0.254979  4.147854e-174
161   UGT1A4        0.214323  2.149843e-122
162  COL11A2        0.234944  2.233667e-147

[163 rows x 3 columns]

In [22]:
# Join metadegs and affinity
pd.merge(degs,affinity,how='outer',on='metaDEGs')

      metaDEGs     RRA Score  Affinity Corr     Adj. p-val
0        REG3A  8.376199e-07            NaN            NaN
1        REG3A  3.921569e-02            NaN            NaN
2      SLITRK3  2.465178e-05            NaN            NaN
3    FGF14-IT1  8.285739e-05            NaN            NaN
4    FGF14-IT1  1.647446e-02            NaN            NaN
..         ...           ...            ...            ...
586       HRG            NaN       0.269723  2.265169e-195
587     TRPM8            NaN       0.362084   0.000000e+00
588     HOXD1            NaN       0.254979  4.147854e-174
589    UGT1A4            NaN       0.214323  2.149843e-122
590   COL11A2            NaN       0.234944  2.233667e-147

[591 rows x 4 columns]