In [7]:
import pandas as pd
import numpy as np

matches = pd.read_csv('/home/mar/Documents/TFM/GitHub/HB_PublicData/2-HB-DEGs-on-Liver-Communities/3_HB_DEG_in_liver_clusters/matches.csv',sep='\t',header=None,names=['num_matches','matches'])

In [8]:
matches.head()

   num_matches matches
0            0     NaN
1            0     NaN
2            0     NaN
3            0     NaN
4            0     NaN

In [11]:
ppi_communities = pd.read_csv('/home/mar/Documents/TFM/GitHub/HB_PublicData/2-HB-DEGs-on-Liver-Communities/2_FindMolTiCommunities/liver_ppi_clusters_effectif.csv',sep='\t')

In [12]:
ppi_communities.head()

    Unnamed: 0  Size  liver_PPI
0  ClusterID:1     3          2
1  ClusterID:2     1          0
2  ClusterID:3     1          0
3  ClusterID:4     1          0
4  ClusterID:5     1          0

In [17]:
df_concat = pd.concat([ppi_communities,matches], axis=1)

In [21]:
df_concat.set_index('Unnamed: 0', inplace=True)
df_concat.head()

             Size  liver_PPI  num_matches matches
Unnamed: 0
ClusterID:1     3          2            0     NaN
ClusterID:2     1          0            0     NaN
ClusterID:3     1          0            0     NaN
ClusterID:4     1          0            0     NaN
ClusterID:5     1          0            0     NaN

In [22]:
df_concat.to_csv('communities_genes_matches.csv')

In [34]:
df_sorted = df_concat.sort_values('num_matches', ascending=False)
matches_2 = df_sorted.head(19)

In [35]:
matches_2.to_csv('table_2_matches.csv')